<!doctype html>

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Quiz | Nova Questão</title>

    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script>
      $(document).ready(function(event) {
         $(".button-collapse").sideNav();
      });
    </script>
  </head>

  <body>

    <ul id="slide-out" class="side-nav">
       <li>
         <div class="card">
           <div class="card-content">
               <div class="row">
                 <label>Disciplinas</label>
                 <select id="course" required>
                   <option disabled selected>Selecione uma disciplina</option>
                 </select>
               </div>

               <div class = "row">
                 <label>Tópicos</label>
                 <select id="topic" required>
                   <option disabled selected>Selecione um tópico</option>
                 </select>
               </div>

               <div class = "row">
                 <label>Número de Questões</label>
                 <input type="number" id="number" min=0 required>
               </div>

               <div class = "row">
                 <label>Nível</label><br>
                 <label>Fácil</label>
                 <p class="range-field">
                   <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                 </p>
                 <label>Médio</label>
                 <p class="range-field">
                   <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                 </p>
                 <label>Díficil</label>
                 <p class="range-field">
                   <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                 </p>
               </div>

               <div class="row">
                 <label>Tipo</label><br>
                 <div id="type">
                   <p>
                     <input name="group1" type="radio" id="test1" value="shortAnswer"/>
                     <label for="test1">Resposta Curta</label>
                   </p>
                   <p>
                     <input name="group1" type="radio" id="test2" value="trueOrFalse"/>
                     <label for="test2">Verdadeiro ou Falso</label>
                   </p>
                   <p>
                     <input name="group1" type="radio" id="test3" value="multipleChoice"/>
                     <label for="test3">Múltipla Escolha</label>
                   </p>
                 </div>
               </div>

               <div class="row">
                 <a type="button" class="btn col s12 m12 l12 waves-effect waves-light blue" id="btnSearch">Pesquisar</a>
               </div>
           </div>
         </div>
       </li>
       <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
       <li><a href="#!">Second Link</a></li>
       <li><div class="divider"></div></li>
       <li><a class="subheader">Subheader</a></li>
       <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
     </ul>
     <a class="button-collapse"><i class="material-icons">menu</i></a>

  </body>
</html>
