<!doctype html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classroom | Entrar</title>

    {% include 'css.html' %}
    
    <script src="{{ url_for('static', filename='js/login.js')}}"></script>

  </head>
  <body>
    <!-- menu de navegação -->
    <nav class="red">
      <div class="nav-wrapper">
        <a href="/classroom/" class="brand-logo center">Classroom</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/classroom/quiz/">Quiz</a></li>
          <li><a href="/classroom/login/">Entrar</a></li>
          <li><a href="/classroom/signup/">Inscrever-se</a></li>
        </ul>

        <ul id="slide-out" class="side-nav">
          <li><a href="/classroom/quiz/">Quiz</a></li>
          <li><a href="/classroom/login/">Entrar</a></li>
          <li><a href="/classroom/signup/">Inscrever-se</a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>

      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="row">
            <h5>Entrar</h5>
          </div>
          <form action="/classroom/login/" method="POST">
            {% if error %}
              <div class="row">
                <span class="error">{{ error }}<span>
              </div>
            {% endif %}

            <div class="row">
              <label>Email</label>
              <input type="email" name="email">
            </div>

            <div class="row">
              <label>Senha</label>
              <input type="password" name="password">
            </div>

            <div class="row">
              <div class="col s12 m6 l6">
                <button type="submit" class="btn col s12 waves-effect waves-light red">Entrar</button>
              </div>
              <div class="col s12 m6 l6">
                <a href="/classroom/signup/" class="btn col s12 waves-effect waves-light red">Cadastrar-se</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
