<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Quiz</title>

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    </head>
    <body>

      <!-- menu de navegação -->
      <nav class="nav-extended blue">
        <div class="nav-wrapper">
          <a href="/quiz" class="brand-logo center">Quiz</a>
          <ul id="slide-out" class="side-nav">
            <li><a href="/quiz/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
          </ul>
          <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <!-- Tabela de quizzes criados -->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Meus Testes Criados</span>
            <table class="highlight">
             <thead>
               <tr>
                 <th>Nome</th>
                 <th>Descrição</th>
               </tr>
             </thead>

             <tbody id="created_tests">
               {% if created_tests %}
                  {% for test in created_tests %}
                    <tr>
                      <input type="hidden" value="{{ test._id }}">
                      <td><a href="/quiz/tests/{{ test._id }}/answers">{{ test.name }}</a></td>
                      <td>{{ test.description }}</td>
                    </tr>
                  {% endfor %}
               {% endif %}
             </tbody>
           </table>
          </div>
        </div>

         <!-- meus testes para responder -->
         <div class="card">
           <div class="card-content">
             <span class="card-title">Meus Testes Compartilhados</span>
             <table class="highlight">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Descrição</th>
                </tr>
              </thead>

              <tbody id="tests">
                {% if tests %}
                   {% for test in tests %}
                     <tr>
                       <input type="hidden" value="{{ test._id }}">
                       <td><a href="/quiz/tests/{{ test._id }}/">{{ test.name }}</a></td>
                       <td>{{ test.description }}</td>
                     </tr>
                   {% endfor %}
                {% endif %}
              </tbody>
            </table>
           </div>
         </div>

        <div class="fixed-action-btn">
            <a href="/quiz/dashboard/" class="btn-floating waves-effect waves-light btn-large blue">
                <i class="large material-icons">add</i>
            </a>
        </div>
      </div>
    </body>
</html>
