<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Quiz Service</title>

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <script src="{{ url_for('static', filename='js/verify.js') }}"></script>
    </head>
    <body>

      <!-- menu de navegação -->
      <nav class="nav-extended blue-grey darken-1">
        <div class="nav-wrapper">
          <a href="/quiz_service" class="brand-logo center">Quiz Service</a>
          <ul id="slide-out" class="side-nav">
            <li><a href="/quiz_service/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <div class="container">
        <!-- informações sobre o questionário -->
        <div class="card">
            <div class="card-content">
              <input type="hidden" id="test-id" value="{{ test._id }}">
                <label>Nome</label>
                <h5 id="name">{{ test.name }}</h5>
                <label>Descrição</label>
                <h5 id="description">{{ test.description }}</h5>
            </div>
            <div class="card-action">
              <a id="call" class="waves-effect waves-light btn modal-trigger" href="#modal1">Editar
                <i class="material-icons right">edit</i>
              </a>
              <a id="call-modal-share" class="waves-effect waves-light btn modal-trigger" href="#modal2">Compartilhar
                <i class="material-icons right">share</i>
              </a>
            </div>
        </div>

        <!-- modal de edição -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Editar Quiz</h4>
            <input type="text" id="modal-test-name" placeholder="Nome do Quiz">
            <input type="text" id="modal-test-description" placeholder="Descrição do Quiz">
          </div>
          <div class="modal-footer">
            <a id="btnEditAndSave" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
          </div>
        </div>

        <!-- modal de compartilhamento -->
        <div id="modal2" class="modal">
          <div class="modal-content">
            <h4>Compartilhar Quiz</h4>
            <p>Para compartilhar, escreva o e-mail no campo abaixo.</p>
            <input type="text" id="email">
          </div>
          <div class="modal-footer">
            <a id="btnShare" class="modal-action modal-close waves-effect waves-green btn-flat">Compartilhar</a>
          </div>
        </div>

        <!-- respostas dos usuários do teste -->
        <div class="card">
          {% if answers %}
            {% for answer in answers %}
              <div class="card-content">
                <div class="row">
                  <div class="col s12 m6 l6">
                    <label>Nome</label>
                    <h5>{{ answer.user.name }}</h5>
                  </div>
                  <div class="col s12 m6 l6">
                      <label>Nota</label>
                      <h5>{{ answer.grade }}</h5>
                  </div>
                </div>
              </div>
              <div class="card-action">
                  <a href="/quiz_service/answers/{{ answer._id}}" class="waves-effect waves-light btn">Ver</i></a>
              </div>
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </body>
</html>
