<!-- Botão Flutuante de ações -->
<div class="fixed-action-btn vertical click-to-toggle">
    <!-- Botão Principal -->
   <a class="btn-floating btn-large red">
     <i class="material-icons">add</i>
   </a>
   <!--------------->

   <ul>
     <!-- Botão de nova turma -->
     <li>
       <a href="#new-class-modal" class="red lighten-1 btn-floating btn-large modal-trigger tooltipped" data-position="left" data-tooltip="Criar Turma"><i class="material-icons">group_add</i></a>
     </li>
     <!--------------->

     <!-- Botão de novo Quiz-->
     <!-- <li>
       <a href="/classroom/quiz/tests/" class="btn-floating btn-large modal-trigger tooltipped blue" data-position="left" data-tooltip="Criar Quiz"><i class="material-icons">assignment</i></a>
     </li> -->
     <!--------------->
   </ul>
 </div>
<!-- ========================= -->
