<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Quiz</title>

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <script src="{{ url_for('static', filename='js/verify.js') }}"></script>
    </head>
    <body>

      <!-- menu de navegação -->
      <nav class="nav-extended blue">
        <div class="nav-wrapper">
          <a href="/quiz" class="brand-logo center">Quiz</a>
          <ul id="slide-out" class="side-nav">
            <li><a href="/quiz/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
          </ul>
          <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <div class="container">
        <!-- informações sobre o questionário -->
        <div class="card">
            <div class="card-content">
              <input type="hidden" id="test-id" value="{{ test._id }}">
                <label>Nome</label>
                <h5 id="name">{{ test.name }}</h5>
                <label>Descrição</label>
                <h5 id="description">{{ test.description }}</h5>
            </div>
            <div class="card-action">
              <div class="row">
                <div class="col s12 m6 l6">
                  <a id="call" class="col s12 m12 l12 waves-effect waves-light btn modal-trigger blue white-text" href="#modal1">Editar
                    <i class="material-icons right">edit</i>
                  </a>
                </div>

                <div class="col s12 m6 l6">
                  <a id="btn-remove-test" class="col s12 m12 l12 waves-effect waves-light btn blue white-text">Remover
                    <i class="material-icons right">remove</i>
                  </a>
                </div>

                <div class="col s12 m6 l6">
                  <a id="btn-share-test" class="col s12 m12 l12 waves-effect waves-light btn modal-trigger blue white-text" href="#new-task-modal">Compartilhar
                    <i class="material-icons right">share</i>
                  </a>
                </div>
              </div>
            </div>
        </div>

        <!-- lista de questões -->
        {% if questions %}
          {% for question in questions %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">{{ question.title }}</span>
                {% if question.type == "multipleChoice" %}
                  <ol>
                    {% for choice in question.choices %}
                      <li>{{ choice }}</li>
                    {% endfor %}
                  </ol>
                {% endif %}
              </div>
              <div class="card-action">
                <!-- ID da questão -->
                <input class="question-id" type="hidden" value="{{ question._id }}">

                <!-- botão para remover questão -->
                <a class="btn red waves-effect waves-light white-text">Remover
                  <i class="material-icons right">remove</i>
                </a>

                <!-- botão para editar questão -->
                <a href="#modal-edit-question" class="btn-call-modal-edit-question modal-trigger btn blue waves-effect waves-light white-text">Editar
                  <i class="material-icons right">edit</i>
                </a>
              </div>
            </div>
          {%  endfor %}
        {% endif %}

        <!-- respostas dos usuários do teste -->
        <div class="card">
          <div class="card-content">
            <span class="card-title">Respostas do Quiz</span>
          </div>
          {% if answers %}
            {% for answer in answers %}
              <div class="card-content">
                <div class="row">
                  <div class="col s12 m6 l6">
                    <label>Nome</label>
                    <h5>{{ answer.user.name }}</h5>
                  </div>
                  <div class="col s12 m6 l6">
                      <label>Nota</label>
                      <h5>{{ answer.grade }}</h5>
                  </div>
                </div>
              </div>
              <div class="card-action">
                  <a href="/quiz/answers/{{ answer._id}}" class="waves-effect waves-light btn blue white-text">Ver</i></a>
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <!-- modal de edição de questão -->
        <div id="modal-edit-question" class="modal">
          <div class="modal-content">
            <div class="row">
              <span class="card-title">Editando questão</span>
            </div>

            <div class="row">
              <label>Título</label>
              <input id="modal-question-title" type="text">
            </div>

            <div class="row">
              <div class="row">
                <div class="col s12 m12 l12">
                  <a id="btn-add-option" class="btn">Nova Opção<i class="material-icons right">add</i></a>
                </div>
              </div>
              <ol id="options"></ol>
            </div>

          </div>
          <div class="modal-footer">
            <!-- ID da questão editada -->
            <input id="modal-question-id" type="hidden">

            <a id="btn-save-question" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
          </div>
        </div>

        <!-- modal de edição -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Editar Quiz</h4>
            <input type="text" id="modal-test-name" placeholder="Nome do Quiz">
            <input type="text" id="modal-test-description" placeholder="Descrição do Quiz">
          </div>
          <div class="modal-footer">
            <a id="btnEditAndSave" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
          </div>
        </div>

        <!-- modal de compartilhamento de testes -->
        <div id="new-task-modal" class="modal">
          <div class="modal-content">
            <div class="row">
              <h4>Criando nova tarefa</h4>
            </div>

            <div class="row">
              <label>Título</label>
              <input type="text" id="task-title">
            </div>

            <div class="row">
              <label>Descrição</label>
              <textarea id="task-description" class="materialize-textarea"></textarea>
            </div>

            <div class="row">
              <label>Turma</label>
              <select id="class"></select>
            </div>

            <div class="row">
              <label>Prazo</label>
              <input id="deadline" type="date">
            </div>
          </div>
          <div class="modal-footer">
            <a id="btnShare" class="modal-action modal-close waves-effect waves-light btn-flat">Compartilhar</a>
            <a class="modal-action modal-close waves-effect waves-light btn-flat">Cancelar</a>
          </div>
        </div>

      </div>
    </body>
</html>
