<!doctype html>

<html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Quiz</title>

        {% include 'css.html' %}

        <script src="{{ url_for('static', filename='js/answer.js') }}"></script>
   </head>
    <body>

      <!-- menu de navegação -->
      {% include 'quiz/navbar.html' %}

      <div class="container">
        <!-- informações sobre o questionário -->
        <div class="card">
            <div class="card-content">
              <input type="hidden" id="test-time" value="{{ test.time }}">
              <input type="hidden" id="test-id" value="{{ test._id }}">
                <label>Nome</label>
                <h5>{{ test.name }}</h5>
                <label>Descrição</label>
                <h5>{{ test.description }}</h5>
                <label>Número de Tentativas Restantes</label>
                <h5 id="num-attempts">{{ num_attempts }}</h5>
                <label>Tempo</label>
                <h5 id="time"></h5>
            </div>
        </div>

        <!-- questionário -->
        <div class="card">
          <div class="card-content">
              <ol id="test">
                {% if test.questions %}
                  {% for question in test.questions %}
                    <div class="question">
                      <input class="id" type="hidden" value="{{ question._id }}">
                      <input class="type" type="hidden" value="{{ question.type }}">
                      <li>{{ question.title }}</li>
                      {% if question.type == "shortAnswer" %}
                        <textarea class="answer materialize-textarea"></textarea>
                      {% elif question.type == "trueOrFalse" %}
                        <div class="switch">
                          <label>
                          Falso
                            <input class="answer" type="checkbox">
                            <span class="lever"></span>
                          Verdadeiro
                          </label>
                        </div>
                      {% elif question.type == "multipleChoice" %}
                        <div class="answer">
                          {% for choice in question.choices %}
                            <p>
                              <input name="{{question.title}}" type="radio" id="{{question.title}}{{choice}}" value="{{choice}}">
                              <label for="{{question.title}}{{choice}}">{{choice}}</label>
                            </p>
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                {% endif %}
              </ol>
          </div>
            <div class="card-action">
              <div class="row">
                <div class="col s12 m6 l6">
                  <a id="btnAnswer" class="btn white-text blue darken-1 col s12 m12 l12 waves-effect waves-light">Enviar</a>
                </div>
                <div class="col s12 m6 l6">
                  <a href="/classroom/" class="btn white-text blue darken-1 col s12 m12 l12 waves-effect waves-light">Cancelar</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </body>
</html>
