<!doctype html>

<html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Classroom | Quiz</title>

        {% include 'css.html' %}

        <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        <script src="{{ url_for('static', filename='js/create.js') }}"></script>
        <script src="{{ url_for('static', filename='js/courses.js') }}"></script>
        <script src="{{ url_for('static', filename='js/topics.js') }}"></script>

        <script>
          $(document).ready(function() {
            $("#btnClear").click(function(e){
              $("#questions-list").empty();
            });
          });
        </script>

    </head>
    <body style="background-color: #D3D3D3">

      <!-- menu de navegação -->
      {% include 'quiz/navbar.html' %}

      <!-- barra lateral de pesquisa -->
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-content" style="background-color: #006DAA; color: white;">
                <span class="card-title center" style="text-transform: uppercase;">
                  <strong>Menu de Pesquisa</strong>
                </span>
            </div>
            <div class="card-content">
                <div class="row">
                  <label>Disciplinas</label>
                  <select id="course" required>
                    <option disabled selected>Selecione uma disciplina</option>
                  </select>
                </div>

                <div class = "row">
                  <label>Tópicos</label>
                  <select id="topic" required>
                    <option disabled selected>Selecione um tópico</option>
                  </select>
                </div>

                <div class = "row">
                  <label>Número de Questões</label>
                  <input type="number" id="number" min=0 required>
                </div>

                <div class = "row">
                  <label>Nível</label><br>
                  <label>Fácil</label>
                  <p class="range-field">
                    <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                  </p>
                  <label>Médio</label>
                  <p class="range-field">
                    <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                  </p>
                  <label>Díficil</label>
                  <p class="range-field">
                    <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                  </p>
                </div>

                <div class="row">
                  <label>Tipo</label><br>
                  <div id="type">
                    <p>
                      <input name="group1" type="radio" id="test1" value="shortAnswer"/>
                      <label for="test1">Resposta Curta</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2" value="trueOrFalse"/>
                      <label for="test2">Verdadeiro ou Falso</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test3" value="multipleChoice"/>
                      <label for="test3">Múltipla Escolha</label>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <a type="button" style="width: 100%" class="btn waves-effect waves-light blue" id="btnSearch">Pesquisar</a>
                </div>
            </div>
          </div>
        </div>

        <!-- Lista de Questões-->
        <div class="row">
          <div class="col s12 m6 l9">
            <div class="card">
                <div class="card-content" style="background-color: #006DAA; color: white;">
                    <span class="card-title center" style="text-transform: uppercase;">
                      <strong>Questionário</strong>
                    </span>
                </div>

                <div class="card-content">
                  <div class="row" style="{display: none}">
                    <p id="error"></p>
                  </div>
                  <label>Nome</label>
                  <input type="text" id="name">

                  <label>Descrição</label>
                  <input type="text" id="description">

                  <label>Número de Tentativas</label>
                  <input type="number" id="num-attempts" min="1" value="1">

                  <label>Tempo (em minutos)</label>
                  <input type="number" id="time" min="1" value="1">
                </div>
                <div class="card-action">
                  <!-- <a class="btn waves-effect waves-light blue white-text" id="btnGeneratePDF">Baixar<i class="material-icons right">get_app</i></a> -->
                  <a class="btn waves-effect waves-light blue white-text" id="btnSave">Salvar<i class="material-icons right">save</i></a>
                  <a class="btn waves-effect waves-light blue white-text" id="btnClear" onClick="clear();">Limpar<i class="material-icons right">clear</i></a>

                </div>
                <div class="card-content" style="background-color: #006DAA; color: white;">
                    <span class="card-title center" style="text-transform: uppercase;">
                      <strong>Questões</strong>
                    </span>
                </div>

                <div class="card-content">

                  <ol class="card-title" id="questions-list"></ol>
                </div>

            </div>
          </div>

        </div>


        <div class="fixed-action-btn vertical click-to-toggle">
         <a class="btn-floating btn-large blue">
           <i class="material-icons">menu</i>
         </a>
         <ul>
           <li><a id="btnCreate" class="modal-trigger" href="#new-question-modal">Nova Questão</a></li>
           <li><a id="btn-call-modal-new-course" class="modal-trigger" href="#modal-new-course">Nova Disciplina</a></li>
           <li><a id="btn-call-modal-new-topic" class="modal-trigger" href="#modal-new-topic">Novo Tópico</a></li>
         </ul>
       </div>

      </div>

      <!-- painel para criação de novas questões manualemente -->
      <div id="new-question-modal" class="modal">
        <div class="modal-content">
          <span class="modal-title">Nova Questão</span>
          <div class="row">
            <label>Título</label>
            <input id="nq-title" type="text">
          </div>

          <div class="row">
            <label>Disciplina</label>
            <select id="nq-course"></select>
          </div>

          <div class="row">
            <label>Tópico</label>
            <select id="nq-topic">
                <option>Escolha uma disciplina</option>
            </select>
          </div>
          <div class="row">
            <label>Nível</label>
            <select id="nq-level">
              <option value="easy">Fácil</option>
              <option value="medium">Médio</option>
              <option value="difficult">Díficil</option>
            </select>
          </div>

          <div class="row">
            <label>Tipo</label>
            <select id="nq-type">
              <option value="shortAnswer">Resposta Curta</option>
              <option value="trueOrFalse">Verdadeiro ou Falso</option>
              <option value="multipleChoice">Múltipla Escolha</option>
            </select>
          </div>

          <div class="row">
            <label>Esta questão é privada?</label>
            <div class="switch">
              <label>
              Não
                <input id="nq-private" type="checkbox">
                <span class="lever"></span>
              Sim
              </label>
            </div>
          </div>

          <div class="row">
            <div class="row">
              <div class="col s12 m12 l12">
                <a id="btn-add-option" class="btn waves-effect waves-light blue white-text">Nova Opção<i class="material-icons right">add</i></a>
              </div>
            </div>
            <div class="row">
              <div class="chip">
                A primeira opção é a opção correta!
                <i class="material-icons left">warning</i>
              </div>
            </div>
            <div class="row">
              <ol id="options"></ol>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a id="btn-create-question" class="modal-action modal-close waves-effect waves-green btn-flat">Criar</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </div>

      <!-- modal de criação de novos tópicos -->
      <div id="modal-new-topic" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5>Criando novo tópico</h5>
          </div>
          <div class="row">
            <label>Disciplina</label>
            <select id="modal-topic-course">

            </select>
          </div>
          <div class="row">
            <label>Nome</label>
            <input id="modal-topic-name" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <a id="btn-create-topic" class="modal-action modal-close btn-flat">Criar</a>
          <a class="modal-action modal-close btn-flat">Cancelar</a>
        </div>
      </div>

      <!-- modal de criação de novas disciplinas -->
      <div id="modal-new-course" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5>Criando nova diciplina</h5>
          </div>
          <div class="row">
            <label>Nome</label>
            <input id="modal-course-name" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <a id="btn-create-course" class="modal-action modal-close btn-flat">Criar</a>
          <a class="modal-action modal-close btn-flat">Cancelar</a>
        </div>
      </div>
    </body>
</html>
