<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Quiz Service</title>

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script
          src = "https://code.jquery.com/jquery-2.1.1.min.js">
        </script>
        <script
          src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <script src="{{ url_for('static', filename='js/exam.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>

      <!-- menu de navegação -->
      <nav class="nav-extended blue-grey darken-1">
          <div class="nav-wrapper">
              <a href="/quiz_service" class="brand-logo">Quiz Service</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/quiz_service/logout">Sair</a></li>
              </ul>
          </div>
      </nav>

      <!-- Tabela de quizzes criados -->
      <div class="container">
          <h3>Meus Testes Criados</h3>
          <table class="highlight">
           <thead>
             <tr>
               <th>Nome</th>
               <th>Descrição</th>
               <th>Opção</th>
             </tr>
           </thead>

           <tbody id="created-tests">
             <tr>
               <td>Alvin</td>
               <td>Eclair</td>
               <td><a href="#">Compartilhar</a></td>
             </tr>
           </tbody>
         </table>

         <!-- meus testes para responder -->

         <h3>Meus Testes para responder</h3>
          <table class="highlight">
           <thead>
             <tr>
               <th>Nome</th>
               <th>Descrição</th>
               <th>Opção</th>
             </tr>
           </thead>

           <tbody id="my-tests">
             <tr>
               <td>Alvin</td>
               <td>Eclair</td>
               <td><a href="#">Responder</a></td>
             </tr>
           </tbody>
         </table>


        <div class="fixed-action-btn horizontal click-to-toggle">
          <a class="btn-floating btn-large red">
            <i class="material-icons">menu</i>
          </a>
          <ul>
            <li><a href="/quiz_service/dashboard/" class="btn-floating red"><i class="material-icons">add</i></a></li>
          </ul>
        </div>
      </div>
    </body>
</html>
