<!doctype html>

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Quiz | Cadastro</title>

    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/signup.js')}}"></script>
  </head>
  <body>
    <!-- menu de navegação -->
    <nav class="nav-extended blue">
      <div class="nav-wrapper">
        <a href="/quiz/" class="brand-logo center">Quiz</a>
        <ul id="slide-out" class="side-nav">
          <li><a href="/quiz/login/">Entrar<i class="material-icons right">input</i></a></li>
          <li><a href="/quiz/signup/">Registrar-se<i class="material-icons right">assignment</i></a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h5>Cadastro</h5>
      </div>
      <form action="/quiz/signup/" method="POST">
        <div class="row">
          <label>Nome</label>
          <input type="text" name="name">
        </div>

        <div class="row">
          <label>Email</label>
          <input type="email" name="email">
        </div>

        <div class="row">
          <label>Senha</label>
          <input type="password" name="password">
        </div>

        <div class="row">
          <div class="col s12 m6 l6">
            <button type="submit" class="btn col s12 waves-effect waves-light blue">Cadastrar-se</button>
          </div>
          <div class="col s12 m6 l6">
            <a href="/quiz/" class="btn col s12 waves-effect waves-light blue">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
